[submodule "libs/Preconditioners"]
	path = libs/Preconditioners
	url = git@github.com:david-m-rosen/Preconditioners.git
[submodule "libs/Optimization"]
	path = libs/Optimization
	url = git@github.com:david-m-rosen/Optimization.git
