[submodule "libs/Preconditioners"]
	path = libs/Preconditioners
	url = https://github.com/david-m-rosen/Preconditioners.git
[submodule "libs/Optimization"]
	path = libs/Optimization
	url = https://github.com/david-m-rosen/Optimization.git
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libs/tonioviz"]
	path = libs/tonioviz
	url = https://github.com/MarineRoboticsGroup/tonioviz.git
